:root {
    /*  CUSTOM COLORS - cc  */
    --color-black: #161616;
    --color-white: #fff;
    --color-grey: #e5e5e5;
    --color-orange: #5E8C5D;
    --color-navy: #132623;
    --color-dark: #000000;

    --width_big: 80vw;
    --width_small: 20vw;
    --height-small:50px;
    --shadow-size: 1.5px;
    --shadow-size-neg:-1.5px;
}

.Contact_Info
{
    margin: 0 auto;
    width: var(--width_big);
    /* background-color: red; */
    text-align: center;
}
