:root {
    /*  CUSTOM COLORS - cc  */
    --color-black: #161616;
    --color-white: #fff;
    --color-grey: #e5e5e5;
    --color-orange: #fca311;
    --color-navy: #14213d;
    --color-dark: #000000;

    --width_big: 80vw;
    --width_small: 20vw;
    --height-small:50px ;
}

html {
    padding: 0px;
    color: var(--color-white);
}
.Text_Informativ {
    display: flex;
    flex-direction: column;
    text-indent: 3vw;
}

main {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: var(--width_big);
}


.Search_Bar {
    margin-top: 150px;
    height: var(--height-small);    
    width: var(--width_small);
    cursor: pointer;

    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.Search_Bar:hover, .Search_Bar:focus {
    width: var(--width_big);
}


.Song_List {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
}

.Song_List a {
    margin-top: 100px;
    width: var(--width_big);
    height: var(--height-small);
}

/* daca maresc se aplica */
@media (min-width: 768px) {
    .Title {
    }
}

/* daca micsorez se aplica */
@media (max-width: 768px) {
    .Navigation_Bar {
        flex-direction: column;
    }
    :root {
        
        /* --color-orange: #11fc5b; */
        --width_big: 90vw;
    }
    .Menu_Options {
        display: none;
        flex-direction: column;
        position: relative;
        background-color: var(--color-orange);
    }
}