:root {
    /*  CUSTOM COLORS - cc  */
    --color-black: #161616;
    --color-white: #fff;
    --color-grey: #e5e5e5;
    --color-orange: #fca311;
    --color-navy: #14213d;
    --color-dark: #000000;

    --width_big: 80vw;
    --width_small: 20vw;
    --height-small:50px ;
}

main
{
    margin-inline: 0 auto;
}
.Author
{
    padding-left: 100px;
}

.Description
{
    display: flex;
    /* justify-content: right; */
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(235, 229, 239);
}

.Song_Tab
{
    padding-top: 100px;


}