
main
{
    background-color: aquamarine;

    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;
}
.Author
{
    padding-left: 100px;
}

.Description
{
    display: flex;
    /* justify-content: right; */
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(235, 229, 239);
}

.Song_Tab
{
    padding-top: 100px;
    

}